{% extends 'base.html' %} {% block content %} {%load static%}
<header>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</header>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus" style="color: purple;">
                    <h2 class="aboutus-title" style="color: purple;">Ceo Message</h2>
                    <p class="aboutus-text" style="color: purple;"> We as a firm, firmly believes that customers are our most valuable asset in our service, providing every day business activity.</p>
                    <p class="aboutus-text" style="color: purple;">Our aim is simple - to provide Best in class solution to enhance business delivery.</p>
                    <a class="aboutus-more" style="color: purple;" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset" style="color: purple;">
                                <span class="glyphicon glyphicon-cog icon" style="color: purple;border-color:purple"></span>
                            </div>

                            <div class="feature-content">
                                <h4>Work with heart</h4>
                                <p>We here at this moment confirm our commitment with ourselves and to our customers for providing the best quality products making every single effort to achieve. The best available sources are to be applied by providing
                                    highest professional personals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon" style="color: purple;border-color:purple"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>
                                    We want to be seen as the company of choice by our Clients. But even more, we want to be considered their trusted advisor, capable of delivering a product on time, on budget and we hope, beyond their expectations.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon" style="color: purple;border-color:purple"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>We at SOT IMPEX have been shoring up an impressive portfolio of architecture & interior design projects from conception to completion, on the strength of our collective experience, technical know-how and the use of high-quality
                                    materials.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}