{% extends 'base.html' %} {% block content %} {%load static%}


<main class="main-container ">
    <!-- contact content -->


    <!-- Start Contact Us -->

    <div id="Contact " class="light-wrapper ">
        <div class="container inner ">
            <div class="row ">
                <div class="col-md-8 ">
                    <div class="row ">

                        <form class="form-sample" method="POST">
                            <!--here i have set the method and action-->
                            {% csrf_token %}

                            <h3>Drop Us a Message</h3>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px !important;">
                                    <div class="row">
                                        <div class="">
                                            <div class="col-md-4 ">
                                                <input type="text" name="name" class="form-control" placeholder="Your Name *" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-md-4">
                                                <input type="text" name="email" class="form-control" placeholder="Your Email *" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-md-4">
                                                <input type="text" name="ph_no" class="form-control" placeholder="Your Phone Number *" />
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <input type="submit" name="btnSubmit" class="btn-danger" value="Send Message" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="Contact-Info ">
                        <h4>Contact Details</h4>
                        <div class="tex-contact ">
                            <p>SOT Impex® Services cover every aspect of your product buying goal, from daily routines to business insights.Feel free to contact us. </p>
                        </div>
                        <div class="Block-Contact col-md-6 ">
                            <p>Phone :</p>
                            <ul>
                                <li>
                                    <i class="fa fa-phone "></i>
                                    <span>+92 300 4330318</span>
                                </li>
                                <li>
                                    <i class="fa fa-fax "></i>
                                    <span>+92 306 4359439</span>
                                </li>
                            </ul>
                        </div>
                        <div class="Block-Contact col-md-6 ">
                            <p>Email :</p>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope "></i>
                                    <span>sotimpex@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="Block-Contact col-md-12 ">
                            <p>Address :</p>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker "></i>
                                    <span>3453 corn street, Sanford, FL 34232.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Contact Us -->
    <!-- end contact content -->

    <section class="block gray no-padding ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="content-box no-margin go-simple ">
                        <div class="mini-service-sec ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-paper-plane "></i>
                                        <div class="mini-service-info ">
                                            <h3>Worldwide Delivery</h3>
                                            <p>Coming soon</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-newspaper-o "></i>
                                        <div class="mini-service-info ">
                                            <h3>Worldwide Delivery</h3>
                                            <p>In the process</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-medkit "></i>
                                        <div class="mini-service-info ">
                                            <h3>Friendly Stuff</h3>
                                            <p>unc tincidunt, on cursusau gmetus, lorem Hore</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-newspaper-o "></i>
                                        <div class="mini-service-info ">
                                            <h3>24/h Support</h3>
                                            <p>Contact us for your query</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                            </div>
                        </div>
                        <!-- Mini Service Sec -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="{% static 'css/js/vendor/jquery-1.10.2.min.js' %} "></script>
<script src=" {% static 'css/js/bootstrap.min.js' %} "></script>
<script src="{% static 'css/js/smoothscroll.js' %} "></script>
<!-- Scroll up js
============================================ -->
<script src="{% static 'css/js/jquery.scrollUp.js' %} "></script>
<script src="{% static 'css/js/menu.js' %} "></script>

<script src="{% static 'css/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'css/js/main.js' %} "></script>



{% endblock content%}