{% extends 'base.html'%}{% block content %} {%load static%}


<img src="{% static 'css/img/blue.JPG' %}" alt="Responsive image" style="height: 200px; width:100%">




<div class="container" style="margin-bottom: 200px; padding-top:50px;">

    <div class="fancy-heading text-center">
        <h3 style="color: purple;">Corporate Information</h3>
    </div>
    <h3 style="color: purple;">SOT IMPEX</h3>
    <p style="color: purple;"><b>Sot Impex Delivers EPC Solutions for Clients around Pakistan.</b> </p>
    <p style="color: purple;"><b>Sot Impex</b> company, delivers integrated engineering, procurement, construction (EPC), maintenance and project management solutions to governments and private sector Clients in diverse industries around the world. <b>Sot Impex</b> develops and
        implements innovative solutions for complex project issues. For over a decade, Clients selected <b>Sot Impex</b> as their company of choice to complete challenging projects in remote parts of the world. We are multi-disciplinary engineering organization
        operating in Pakistan since 2008.</p>
</div>



{% endblock content%}