{% extends 'base.html' %} {% block content %} {%load static%}



<style>
    /* Slider */
    
    .carousel-item {
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>


<section class="slider-section">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol> -->
        <!-- End of Indicators -->

        <!-- Carousel Content -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item ">
                <img class="d-block w-100" src="{% static 'css/img/photo.jpeg'%}">
                <div class="carousel-caption d-none d-md-block">


                    <h3>SOT IMPEX</h3>
                    <p style="color: black;">Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                        experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>

                </div>

            </div>

            <!-- End of Carousel Item -->


            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'css/img/flor.jpeg'%}">

                <div class="carousel-caption d-none d-md-block">


                    <h3>SOT IMPEX</h3>
                    <p style="color: black;">Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                        experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.
                    </p>

                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'css/img/fan.jpeg'%}">

                <div class="carousel-caption d-none d-md-block">


                    <h3>SOT IMPEX</h3>
                    <p style="color: black;">Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                        experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>

                </div>


            </div>
            <div class="carousel-item active">


                <img class="d-block w-100" src="{% static 'css/img/lookout.jpeg'%}">



                <div class="carousel-caption">


                    <h3>SOT IMPEX</h3>
                    <p style="color: black;">Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                        experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'css/img/discuss.jpeg'%}">
            <div class="carousel-caption">


                <h3>SOT IMPEX</h3>
                <p style="color: black;">Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                    experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>

            </div>

            <!-- 

                <h3>SOT IMPEX</h3>
                <p style="color: black;">We appreciate you taking time to go through the SOT IMPEX website. This is a great opportunity for us to communicate our products and services and key competitive strengths to you. This website is designed to provide you with an
                    introduction to SOT IMPEX. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>
            </div>-->
        </div>
        <!-- End of Carousel Item -->
    </div>
    <!-- End of Carousel Content -->

    <!-- Previous & Next -->
    <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    </div>
    <!-- End of Carousel -->
</section>
<!-- End of Slider -->
<div class="container">
    <h1 class="font-weight-bold py-5 pt-5" style="text-align: center;">
        OUR SERVICES
    </h1>
    <div class="row">
        <div class="col-md-4 pb-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'css/img/tool.JPG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Architecture, Engineering & Design </h5>
                    <p class="card-text">We are the authority for completing construction projects in environmentally. Hellow</p>
                    <a href="#" class="btn btn-info">Read More</a>
                </div>
            </div>
        </div>
        <!--second image card-->
        <div class="col-md-4 pb-5">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="{% static 'css/img/road.PNG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Office Supplies</h5>
                    <p class="card-text"> We’ve got all your office supply and equipment needs covered. With us, you can be assured</p>
                    <a href="#" class="btn btn-info">Read More</a>
                </div>
                <!--Here at SOT IMPEX, we’ve got all your office supply and equipment needs covered. With us, you can be assured of best quality products available at extremely competitive prices-->
            </div>
        </div>
        <!--third card-->
        <div class="col-md-4 pb-5">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="{% static 'css/img/map.PNG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <!--second row-->
    <div class="row">
        <div class="col-md-4 pb-5">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="{% static 'css/img/fire.PNG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
        <!--second image card-->
        <div class="col-md-4 pb-5">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="{% static 'css/img/dis.PNG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
        <!--third card-->
        <div class="col-md-4 pb-5">
            <div class="card " style="width: 18rem;margin-bottom:20%">
                <img class="card-img-top" src="{% static 'css/img/dis.PNG' %}" alt="Card image cap" style="object-fit: cover; width: 100%;height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock content%}