{% extends 'base.html'%}{% block content %} {%load static%}


<img src="{% static 'css/img/lead.JPG' %}" alt="Responsive image" style="height: 200px; width:100%">




<div class="container" style="margin-bottom: 200px; padding-top:50px;">

    <div class="fancy-heading text-center">
        <h2 style="color: purple;">Leadership</h2>
    </div>
    <h3 style="color: purple;">SOT IMPEX</h3>
    <p style="color: purple;"><b>Sot Impex Delivers EPC Solutions for Clients around Pakistan.</b> </p>
    <p style="color: purple;"><b>Sot Impex</b> The role of leadership is central to MECSOL's mission of successfully delivering projects in a safe, efficient and economical manner. MECSOL's team of leaders brings solid experience and a firm commitment to Clients.</p>
</div>



{% endblock content%}