{% extends 'base.html' %} {% block content %} {%load static%}


<main class="main-container ">
    <!-- contact content -->


    <!-- Start Contact Us -->

    <div id="Contact " class="light-wrapper ">
        <div class="container inner ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="row ">
                        <div class="Contact-Form ">
                            <form class="leave-comment contact-form " method="post " action="# " id="cform " autocomplete="on ">
                                <div class="Contact-us ">
                                    <div class="form-input col-md-4 ">
                                        TO
                                        <input type="text " To="Client Name" placeholder="client name or company " required>
                                    </div>
                                    <div class="form-input col-md-4 ">
                                        Product Name
                                        <input type="text " Product name="item " placeholder="item " required>
                                    </div>
                                    <div class="form-input col-md-4 ">
                                        Quantity
                                        <input type="text " Quantity="quantity " placeholder="number of ">
                                    </div>
                                    <div class="form-input col-md-12 ">
                                        Description
                                        <textarea class="txt-box textArea " Description="message " cols="40 " rows="7 " id="messageTxt " placeholder="Message " spellcheck="true " required></textarea>
                                    </div>
                                    <div class="form-input col-md-4 ">
                                        Amount
                                        <input type="text " Quantity="amount " placeholder="number of ">
                                    </div>
                                    <div class="form-submit col-md-12 ">

                                        <input type="submit " class="btn btn-custom-6 " value="Send Via ">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- End Contact Us -->
    <!-- end contact content -->

    <section class="block gray no-padding ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="content-box no-margin go-simple ">
                        <div class="mini-service-sec ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-paper-plane "></i>
                                        <div class="mini-service-info ">
                                            <h3>Worldwide Delivery</h3>
                                            <p>Coming soon</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-newspaper-o "></i>
                                        <div class="mini-service-info ">
                                            <h3>Worldwide Delivery</h3>
                                            <p>In the process</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-medkit "></i>
                                        <div class="mini-service-info ">
                                            <h3>Friendly Stuff</h3>
                                            <p>unc tincidunt, on cursusau gmetus, lorem Hore</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                                <div class="col-md-3 ">
                                    <div class="mini-service ">
                                        <i class="fa fa-newspaper-o "></i>
                                        <div class="mini-service-info ">
                                            <h3>24/h Support</h3>
                                            <p>Contact us for your query</p>
                                        </div>
                                    </div>
                                    <!-- Mini Service -->
                                </div>
                            </div>
                        </div>
                        <!-- Mini Service Sec -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="{% static 'css/js/vendor/jquery-1.10.2.min.js' %} "></script>
<script src=" {% static 'css/js/bootstrap.min.js' %} "></script>
<script src="{% static 'css/js/smoothscroll.js' %} "></script>
<!-- Scroll up js
============================================ -->
<script src="{% static 'css/js/jquery.scrollUp.js' %} "></script>
<script src="{% static 'css/js/menu.js' %} "></script>

<script src="{% static 'css/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'css/js/main.js' %} "></script>



{% endblock content%}