{% extends 'base.html' %} {% block content %}
<main class="main-container">
    <!-- service section -->
    <div class="container">
        <!-- What We Do -->
        <div class="content-md container-sm border-bottom-1">
            <div class="row">
                <div class="col-sm-7 sm-margin-b-50">
                    <!-- Heading v1 -->
                    <div class="heading-v1 margin-b-30">
                        <h2 class="heading-v1-title">Here i will add our SOT IMPEX policies ...</h2>
                        <p class="heading-v1-subtitle">Responsibility of Users of the Website, Products, and/or Services.</p>
                    </div>
                    <!-- End Heading v1 -->

                    <div class="margin-b-30">

                        <p>Your access to, and all of your use of the Website, Products, and/or Services must be lawful and must be in compliance with these Terms, and any other agreement between you and Usabilla. When accessing or using the Website, Products,
                            and/or Services, you must behave in a civil and respectful manner at all times. We specifically prohibit any use of the Website, Products, and/or Services, and you agree not to use the Website, for any of the following: • Engaging
                            in conduct that would constitute a criminal offense, giving rise to civil liability or otherwise violate any city, state, national or international law or regulation that would fail to comply with accepted internet protocol</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img class="img-responsive" src="img/about1.png" alt="">
                </div>
            </div>
            <!--// end row -->
        </div>
        {% endblock content %}