{% extends 'base.html'%}{% block content %} {%load static%}


<img src="{% static 'css/img/visions.JPG' %}" alt="Responsive image" style="height: 200px; width:100%">




<div class="container" style="margin-bottom: 200px; padding-top:50px;">

    <div class="fancy-heading text-center">
        <h1 style="color: #000000;">Visions and values</h1>
    </div> <br> <br> <br>

    <h3 style="color: purple;">We are committed to delivering extraordinary results.</h3>
    <p style="color: purple;"><b>Our vision</b> </p>
    <p style="color: purple;"><b>Sot Impex</b> Be the world’s premier engineering, construction, and project management organization by achieving extraordinary results for our customers, building satisfying careers for our people, and earning a fair return on the value we deliver.
        Our Values</p>
    <h4 style="color: purple;">Ethics</h4><br> We are uncompromising in our integrity, honesty, and fairness. Safety & Health We are relentless in keeping people safe from harm, and we provide a healthy work environment. Quality We are passionate about excellence and doing our
    work right the first time. Our reputation depends on our delivered value in the eyes of every customer and community. People We inspire each other with important work full of purpose, challenging development opportunities, and rewarding careers. We
    aspire to be the employer of choice in our industry. Culture We actively build a diverse, inclusive, and collaborative work environment where all views are welcomed, openness is encouraged, and teamwork and merit are cornerstones. We are proud of
    what we do and how we do it—and we enjoy doing it! Relationships We build positive, long-term relationships with our customers, joint-venture partners, subcontractors, suppliers, and colleagues that are built on trust, respect, and collaboration.
    Innovation We develop and apply world-class technology. We listen, learn, and seek out the best ideas. We attack complacency and continually improve. Sustainability We improve the quality of life in communities where we work by respecting local cultures,
    engaging local people, and protecting the environment. Our Covenants Wherever we go and whatever we do, we: Demonstrate Integrity Exercise the highest level of professional and ethical behavior. Are Respectful Treat people with respect and dignity.
    Listen actively. Communicate in a timely and forthright manner. Never undermine colleagues. Collaborate Ask for and welcome help; offer and give it freely. Mutually resolve ambiguity and conflict. Build Trust Make commitments responsibly and always
    keep our word. Be candid while building shared understanding. Deliver Set high aspirations, plan responsibly, and honor all commitments. Learn It, Do It, Share It. Be curious. Seek, share, and build upon experiences and lessons learned. Live Our Culture
    Embrace, embody, and actively contribute to our Vision, Values & Covenants. Nurture a proud legacy.
</div>



{% endblock content%}