{% extends 'base.html' %} {% block content %}

<h3>hey ppl you guys can give your feedback here or if you want any query regarding our products le us know :)
    <h4>Feel free to contact us or comment here</h4>
</h3>

{% endblock content%}