{% extends 'base.html' %} {% block content %}

<div class="container">
<div class="row">
<div class="col-lg-12">

    <!-- Title -->
    <h1 class="mt-4">{{ newsfeed.title | capfirst }}</h1>

    <!-- Author -->
    <p class="lead">
      by
      <a href="#">{{ newsfeed.author | capfirst }}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ newsfeed.date }}</p>

    <hr>

    <!-- Preview Image -->
    <div class="d-flex justify-content-center ">
        <img class="img-fluid rounded " src="{{ MEDIA_URL }}{{ newsfeed.image.url }}" alt="" style="object-fit: cover;
        width: 100%;
        height: 250px;">
    </div>


    <hr>

    <!-- Post Content -->
    <p class="lead">{{ newsfeed.body }}</p>

    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
      <h4 class="card-header">Leave a Comment:</h4>
      <div class="card-body">
        <form method="POST">
            {% csrf_token %} 
            
          <div class="form-group">
            <textarea name="comment" rows="5" required="" id="id_comment" style="width: -webkit-fill-available;" ></textarea>   
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>

    <!-- Single Comment -->
    {% for comment in comments %}
    <div class="media mb-4">
 
      <img class="d-flex mr-3 rounded-circle" src="https://bootdey.com/img/Content/user_1.jpg" 
      style="width: 50px;
      height: 50px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;" alt="">

      <div class="media-body">
        
        <h4 class="mt-0">{{ comment.author | capfirst }}</h4>
        <p>{{ comment }}</p>   
     
    </div>
    
    </div>
    {% endfor %}

    <!-- Comment with nested comments -->


  </div>
  
</div>
</div>



{% endblock content %}