{% extends 'base.html' %} {% load static %} {% block title %}Articles{% endblock title %} {% block content %}


<div class="container my-5">

    {% for newsfeed in object_list %}
    <a href="{% url 'newsfeed_detail' newsfeed.pk %}">
        <div class="card mb-3">
            <div class="card-header">


                <span class="text-muted">by {{ newsfeed.author | capfirst }} |
         {{ newsfeed.date }}</span>

            </div>
            <div class="card-body" style="font-size: larger;">
                
                    <h2>{{ newsfeed.title | capfirst }}</h2>
                    <img src="{{ MEDIA_URL }}{{ newsfeed.image.url }}" alt="img" style="object-fit: cover;
                    width: 100%;
                    height: 250px;">

              
                
                <!-- Changes start here! -->

            </div>


        </div>
    </a>
    {% endfor %}
</div>


<br /> {% endblock content %}