<main class="main-container">

    <!-- new collection directory -->
    <section id="content-block" class="slider_area">
        <div class="container">
            <div class="content-push">
                <div class="row">

                    <div class="col-md-3 col-md-push-9">
                        <div class="sidebar-navigation">
                            <div class="title">Product Categories<i class="fa fa-angle-down"></i></div>
                            <div class="list">
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Trousers and Shorts</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
                                <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="col-md-9 col-md-pull-3">

                        <div class="header_slider">
                            <article class="boss_slider">
                                <div class="tp-banner-container">
                                    <div class="tp-banner tp-banner0">
                                        <ul>
                                            <!-- SLIDE  -->
                                            <li data-link="#" data-target="_self" data-transition="flyin" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="{% static 'css/img/ciling.jpg' %}" alt="slidebg1" data-lazyload="{% static 'css/img/slide/ciling.jpg' %}" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone"
                                                    data-bgpositionend="right center" />
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-caption very_big_white randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                                                    Trendy </div>
                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-caption very_large_white_text randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                                                    selection </div>
                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-caption large_white_text randomrotate customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                                                    SHOP NOW </div>

                                            </li>
                                            <li data-link="#" data-target="_self" data-transition="3dcurtain-horizontal" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="{% static 'css/img/img2.jpg'%}" alt="slidebg1" data-lazyload="{% static 'css/img/slide/img2.jpg'%}" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone"
                                                    data-bgpositionend="right center" />
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-caption very_big_white fade customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-caption very_large_white_text fade customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-caption large_white_text fade customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                            </li>
                                            <li data-transition="boxslide" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="{% static 'css/img/dummy.png'%}" alt="slidebg1" data-lazyload="img/slide/slide_3.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center"
                                                />
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-caption large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-caption very_large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-caption very_big_white skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                                            </li>
                                        </ul>
                                        <div class="slideshow_control"></div>
                                    </div>
                                    <!-- /.tp-banner -->
                                </div>
                            </article>
                        </div>
                        <!-- /.header_slider -->

                        <div class="clear"></div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="popular-product" class="ecommerce">
        <div class="container">
            <!-- Shopping items content -->
            <div class="shopping-content">

                <!-- Block heading two -->
                <div class="block-heading-two">
                    <h3><span>Popular Items</span></h3>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src="{% static 'css/img/product/shop_item_01.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="single-product.html">Brown Mini Skirt</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src="{% static 'css/img/product/shop_item_03.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="single-product.html">Wool Two-Piece Suit</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                            <!-- Hot tag -->
                            <span class="hot-tag bg-red">NEW</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src="{% static 'css/img/product/shop_item_05.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="single-product.html">Vintage Sunglasses</a><span class="color pull-right"></span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src="{% static 'css/img/product/shop_item_08.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="single-product.html">Nulla luctus</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                            <!-- Hot tag -->
                            <span class="hot-tag bg-lblue">HOT</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src=" {% static 'css/img/product/shop_item_02.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a title="Glory High Shoes" href="single-product.html">Glory High Shoes</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                            <!-- Hot tag -->
                            <span class="hot-tag bg-red">NEW</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="#"><img class="img-responsive" src="{% static 'css/img/product/shop_item_04.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a title="Vintage Stripe Jumper" href="#">Vintage Stripe Jumper</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="single-product.html"><img class="img-responsive" src="{% static 'css/img/product/shop_item_06.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="single-product.html">Solid Blue Polo Shirt</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="#"><img class="img-responsive" src=" {% static 'css/img/product/shop_item_09.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a title="Nulla luctus" href="#">Nulla luctus</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                            <!-- Hot tag -->
                            <span class="hot-tag bg-green">HOT</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Shopping items -->
                        <div class="shopping-item">
                            <!-- Image -->
                            <a href="#"><img class="img-responsive" src=" {% static 'css/img/product/product_item_01c.jpg' %}" alt="" /></a>
                            <!-- Shopping item name / Heading -->
                            <h4><a href="#">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                            <div class="clearfix"></div>
                            <!-- Buy now button -->
                            <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                            </div>
                            <!-- Shopping item hover block & link -->
                            <div class="item-hover bg-color hidden-xs">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endblock content%}

    </section>
</main>
<!-- All script -->
<script src="{% static 'css/js/vendor/jquery-1.10.2.min.js' %}"></script> >>>> yahan se start
<script src="{% static 'css/js/bootstrap.min.js' %}"></script>
<script src="{% static 'css/js/smoothscroll.js' %}"></script>
<!-- Scroll up js
    ============================================comment -->
<script src=" {% static 'css/js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'css/js/menu.js' %}"></script>
<!-- new collection section script -->
<script src="{% static 'css/js/swiper/idangerous.swiper.min.js' %}"></script>
<script src=" {% static 'css/js/swiper/swiper.custom.js' %}"></script>

<!-- Magnific Popup -->
<script src=" {% static 'css/js/jquery.magnific-popup.min.js' %}"></script>

<script src=" {% static 'css/js/jquery.countdown.min.js ' %}"></script>

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script type="text/javascript" src=" {% static 'css/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Owl carousel -->
<script src=" {% static 'css/js/owl.carousel.min.js' %}"></script>
<script src=" {% static 'css/js/main.js'%}"></script>



<script type="text/javascript">
    /*-----------------------------------------------------------------------------------*/
    /* Product Carousel
     /*-----------------------------------------------------------------------------------*/
    if (jQuery().owlCarousel) {
        var productCarousel = $("#product-carousel");
        productCarousel.owlCarousel({
            loop: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 2
                },
                900: {
                    items: 3
                },
                1100: {
                    items: 4
                }
            }
        });

        // Custom Navigation Events
        $(".product-control-nav .next").on("click", function() {
            productCarousel.trigger('next.owl.carousel');
        });

        $(".product-control-nav .prev").on("click", function() {
            productCarousel.trigger('prev.owl.carousel');
        });
    }

    /* Main Slider */
    $('.tp-banner0').show().revolution({
        dottedOverlay: "none",
        delay: 5000,
        startWithSlide: 0,
        startwidth: 869,
        startheight: 520,
        hideThumbs: 10,
        hideTimerBar: "on",
        thumbWidth: 50,
        thumbHeight: 50,
        thumbAmount: 4,
        navigationType: "bullet",
        navigationArrows: "solo",
        navigationStyle: "round",
        touchenabled: "on",
        onHoverStop: "on",
        swipe_velocity: 0.7,
        swipe_min_touches: 1,
        swipe_max_touches: 1,
        drag_block_vertical: false,
        parallax: "mouse",
        parallaxBgFreeze: "on",
        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
        keyboardNavigation: "off",
        navigationHAlign: "right",
        navigationVAlign: "bottom",
        navigationHOffset: 30,
        navigationVOffset: 30,
        soloArrowLeftHalign: "left",
        soloArrowLeftValign: "center",
        soloArrowLeftHOffset: 50,
        soloArrowLeftVOffset: 8,
        soloArrowRightHalign: "right",
        soloArrowRightValign: "center",
        soloArrowRightHOffset: 50,
        soloArrowRightVOffset: 8,
        shadow: 0,
        fullWidth: "on",
        fullScreen: "off",
        spinner: "spinner4",
        stopLoop: "on",
        stopAfterLoops: -1,
        stopAtSlide: -1,
        shuffle: "off",
        autoHeight: "off",
        forceFullWidth: "off",
        hideThumbsOnMobile: "off",
        hideNavDelayOnMobile: 1500,
        hideBulletsOnMobile: "off",
        hideArrowsOnMobile: "off",
        hideThumbsUnderResolution: 0,
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 500,
        hideAllCaptionAtLilmit: 500,
        videoJsPath: "css/rs-plugin/videojs/",
        fullScreenOffsetContainer: ""
    });
</script>




<!--------------------------slider here----------------------------->


<div class="header_slider">
    <article class="boss_slider">
        <div class="tp-banner-container">
            <div class="tp-banner tp-banner0">
                <ul>

                    <li data-link="#" data-target="_self" data-transition="flyin" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        MAIN IMAGE --><img src="{% static 'css/img/photo.jpg' %}" alt="slidebg1" data-lazyload="{% static 'css/img/slider1.jpg' %}" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center"
                        />
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption very_big_white randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                            Trendy </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption very_large_white_text randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                            selection </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_white_text randomrotate customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;">
                            SHOP NOW </div>

                    </li>
                    <li data-link="#" data-target="_self" data-transition="3dcurtain-horizontal" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- MAIN IMAGE --><img src="{% static 'css/img/flor.jpg'%}" alt="slidebg1" data-lazyload="{% static 'css/img/slider2.jpg'%}" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center"
                        />
                        <!-- LAYER NR. 1 -->
                        <!--<div class="tp-caption very_big_white fade customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                        LAYER NR. 2 -->
                        <!--<div class="tp-caption very_large_white_text fade customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                        LAYER NR. 3 -->
                        <!-- <div class="tp-caption large_white_text fade customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                   </li>
                <!--<li data-transition="boxslide" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                       <!-- MAIN IMAGE --><img src="{% static 'css/img/slide/photo.jpg'%}" alt="slidebg1" data-lazyload="img/slide/photo.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center"
                        />
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                        <!-- LAYER NR. 2 -->
                        <!-- <div class="tp-caption very_large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                        LAYER NR. 3 -->
                        <!--  <div class="tp-caption very_big_white skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                   </li>
               </ul>
               <div class="slideshow_control"></div>
           </div>
            /.tp-banner -->-->
            </div>
    </article>{%endcomment%}-->
    </div>

    <!-- /.header_slider -->

    <div class="clear"></div>

</div>


<!--url of pk error-->

path('newsfeed/', NewsfeedCreateView.as_view(), name='newsfeed_new'), path('list/', NewsfeedListView.as_view(), name='newsfeed_list'), path('
<int:pk>/edit/', NewsfeedUpdateView.as_view(), name='Newsfeed_edit'), # new path('
    <int:pk>/newsfeed', NewsfeedDetailView.as_view(), name='newsfeed_detail'), # new path('
        <int:pk>/delete/', NewsfeedDeleteView.as_view(), name='newsfeed_delete'),