{% load static %}
<!DOCTYPE html>
<html class="no-js">

<head>
    <title>Home page | Sot Impex</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav icon -->

    <link rel="shortcut icon" href="{% static 'css/img/favicon.ico' %} ">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-SemiBold.otf" type="font/otf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Medium.otf" type="font/otf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Regular.otf" type="font/otf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Bold.otf" type="font/otf" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900,700,700italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700%7CDancing+Script%7CMontserrat:400,700%7CMerriweather:400,300italic%7CLato:400,700,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static   'css/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static  'css/css/skin-lblue.css' %}">

    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static  'css/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/main.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static  'css/css/setting.css' %} ">
    <link rel="stylesheet" href="{% static 'css/css/responsive.css' %}">
    <script src=" {% static 'css/js/vendor/modernizr-2.6.2.min.js' %} "></script>
</head>

<body class="style-14">
    <!-- Start Loading -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h1 class="loader">Loading...</h1>
        </div>
    </section>
    <!-- End Loading  -->

    <!-- start header -->
    <header>
        <!-- Top bar starts -->
        <div class="top-bar" style="background: rgb(77, 14, 77) !important;">
            <div class="container">

                <!-- Contact starts -->
                <div class="tb-contact pull-left">
                    <!-- Email -->
                    <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:contact@domain.com">contact@domain.com</a> &nbsp;&nbsp;
                    <!-- Phone -->
                    <i class="fa fa-phone color"></i> &nbsp; +1 (342)-(323)-4923
                </div>
                <!-- Contact ends -->

                <!-- Shopping kart starts -->
                <div class="tb-shopping-cart pull-right">
                    <!-- Link with badge -->
                    <a href="#" class="btn btn-white btn-xs b-dropdown"><i class="fa fa-shopping-cart"></i> <i class="fa fa-angle-down color"></i> <span class="badge badge-color">2</span></a>
                    <!-- Dropdown content with item details -->
                    <div class="b-dropdown-block">
                        <!-- Heading -->
                        <h4><i class="fa fa-shopping-cart color"></i> Your Items</h4>
                        <ul class="list-unstyled">
                            <!-- Item 1 -->
                            <li>
                                <!-- Item image -->
                                <div class="cart-img">
                                    <a href="#"><img src="{% static 'css/img/ecommerce/view-cart/1.png' %}" alt="" class="img-responsive"></a>
                                </div>
                                <!-- Item heading and price -->
                                <div class="cart-title">
                                    <h5><a href="#">Premium Quality Shirt</a></h5>
                                    <!-- Item price -->
                                    <span class="label label-color label-sm">$1,90</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <!-- Item 2 -->
                            <li>
                                <div class="cart-img">
                                    <a href="#"><img src="{% static 'css/img/ecommerce/view-cart/2.png' %}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="cart-title">
                                    <h5><a href="#">Premium Quality Shirt</a></h5>
                                    <span class="label label-color label-sm">$1,20</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-white btn-sm">View Cart</a> &nbsp; <a href="#" class="btn btn-color btn-sm">Checkout</a>
                    </div>
                </div>
                <!-- Shopping kart ends -->

                <!-- Langauge starts -->
                <div class="tb-language dropdown pull-right">
                    <a href="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe"></i> English <i class="fa fa-angle-down color"></i></a>
                    <!-- Dropdown menu with languages -->
                    <ul class="dropdown-menu dropdown-mini" role="menu">
                        <li><a href="#">Germany</a></li>
                        <li><a href="#">France</a></li>
                        <li><a href="#">Brazil</a></li>
                    </ul>
                </div>
                <!-- Language ends -->

                <!-- Search section for responsive design -->
                <div class="tb-search pull-left">
                    <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
                    <div class="b-dropdown-block">
                        <form>
                            <!-- Input Group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type Something">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search section ends -->

                <!-- Social media starts -->
                <div class="tb-social pull-right">
                    <div class="brand-bg text-right">
                        <!-- Brand Icons -->
                        <a href="#" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
                    </div>
                </div>
                <!-- Social media ends -->

                <div class="clearfix"></div>
            </div>
        </div>

        <!-- Top bar ends -->

        <!-- Header One Starts -->
        <div class="header-1">

            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Logo section -->
                        <div class="logo">
                            <h1><a href="index.html"><i class="fa fa-bookmark-o"></i> SOT IMPEX</a></h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2 col-sm-5 col-sm-offset-3 hidden-xs">
                        <!-- Search Form -->
                        <div class="header-search">
                            <form>
                                <!-- Input Group -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type Something">
                                    <span class="input-group-btn">
                                                <button class="btn btn-info" type="button">Search</button>
                                            </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation starts -->

            <div class="navi" style="background: rgb(77, 14, 77) !important; padding:10px; ">
                <div class="container">
                    <div class="navy">

                        <ul class="navbar-nav">
                            <!-- Main menu -->
                            <li class="nav-item"><a href="{% url 'home'%}">Home</a>
                            </li>
                            <li class=" nav-item dropdown">
                                <a href="#">About us</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'corporate'%}">Corporate Information</a></li>
                                    <li><a href="{% url 'ceo_message' %}">CEO Message</a></li>
                                    <li><a href="{% url 'vision' %}">Vision, Values & Covenants</a></li>
                                    <li><a href="{% url 'leadership' %}">Leadership</a></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#">Services</a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.php?service=2">Architecture & Design</a></li>
                                    <li><a href="services.php?service=3">Office Supplies</a></li>
                                    <li><a href="services.php?service=4">Engineering & Design</a></li>
                                    <li><a href="services.php?service=5">Project Design</a></li>
                                    <li><a href="services.php?service=6">Procurement</a></li>
                                    <li><a href="services.php?service=7">Fabrication</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" role="button">Products</a>
                                <!-- <ul class="dropdown-menu">
                                    <li><a href="infrastructure.php">Infrastructure</a></li>
                                    <li><a href="power.php">Power</a></li>
                                    <li><a href="environment.php">Environment</a></li>
                                   </ul>-->
                            </li>
                            <!-- <li><a href="{% url 'newsfeed_new' %}">Comments</a></li>-->

                            <li class="nav-item"><a href="projects.php">Projects</a></li>
                            <li class="nav-item"><a href="{% url 'newsfeed_list' %}">News & Events</a></li>


                            <li class="nav-item">
                                <a href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>

                    </div>

                    <!-- Header one ends -->

    </header>



    <!-- end main content -->
    <div>
        {% block content %} {% endblock content %}
    </div>

    <!-- start footer area -->
    <footer class=" footer-area-content" style="background-color: rgb(77, 14, 77) !important;">

        <div class="container">



            <div class="row ">
                <div class="col-md-6 ">
                    <img alt=" " src="{% static 'css/img/lookcare-v2.png ' %} " class="footer-logo ">
                    <div class="footer-description ">Our aim is simple - to provide Best in class solution to enhance business delivery.</div>
                    <div class="footer-address ">Lahore,Pakistan<br> Phone: +78 123 456 123<br> Email: <a href="#">Support@sot.com</a><br>
                        <a target="_blank " href="http://iglyphic.com/ "><b>www.sotimpex.com</b></a>
                    </div>
                </div>


                <div class="col-md-6 ">
                    <h3 class="column-title" style="margin-top: 6%;">Company working hours</h3>
                    <div class="footer-description ">We here at this moment confirm our commitment with ourselves and to our customers for providing the best quality products making every single effort to achieve.</div>
                    <div class="footer-description" style="color: cornsilk;">
                        Monday-Friday: 8.30 a.m. - 5.30 p.m.<br> Saturday:
                        </b> 9.00 a.m. - 2.00 p.m.<br> Sunday:
                        </b> Closed
                    </div>

                </div>
            </div>




        </div>


        <div class="footer-bottom footer-wrapper style-3" style="background-color: rgba(7, 7, 31, 0.808);">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="footer-bottom-navigation ">
                            <div class="cell-view ">

                                <div class="copyright ">Created with by <a target="_blank " href="http://iglyphic.com/ ">Hira Anwar</a> . All right reserved</div>
                            </div>
                            <div class="cell-view ">
                                <div class="payment-methods ">
                                    <a href="# "><img alt=" " src="{% static 'css/img/dop.jg '%} "></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </footer>
    <!-- footer area end -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js " integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js " integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj " crossorigin="anonymous "></script>

    <script src="{% static 'css/js/vendor/jquery-1.10.2.min.js '%} "></script>
    <script src="{% static 'css/js/bootstrap.min.js '%} "></script>
    <script src="{% static 'css/js/smoothscroll.js ' %} "></script>

    <!-- Scroll up js
    ============================================ -->
    <script src="{% static 'css/js/jquery.scrollUp.js ' %} "></script>
    <script src="{% static 'css/js/menu.js ' %} "></script>
    <script src="{% static 'css/js/owl.carousel.min.js '%} "></script>
    <script src="{% static 'css/js/jquery.collapse.js ' %} "></script>


    <script type="text/javascript " src="{% static 'css/assets/plugins/counter/waypoints.min.js ' %} "></script>
    <script type="text/javascript " src="{% static 'css/assets/plugins/counter/jquery.counterup.min.js ' %} "></script>
    <script type="text/javascript " src="{% static 'css/js/counters.js ' %} "></script>

    <script src="{% static 'css/js/main.js ' %} "></script>
    <script>
        // Reply box popup JS
        $(document).ready(function() {
            $(".reply-popup").click(function() {
                $(".reply-box").toggle();
            });
        });
    </script>

</body>

</html>

</html>