{% extends 'base.html' %} {% block content %}
<div class="post-entry">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.body }}</p>
</div>
<a href="{% url 'blog_edit' blog.pk %}">+ Edit Blog Post</a> {% endblock content %}